.paging_full_numbers .ui-button {
    padding: 6px 15px;
}
.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: 0px; 
    color: inherit;
}
div#show-image-add {
    display: none;
    position: absolute;
    background: red;
    top: -170%;
    z-index: 100;
    left: 30%;
    border-radius: 5px;
}
